[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sh = "*"
click = "*"
python-valve = {git = "https://github.com/serverstf/python-valve"}

[dev-packages]

[requires]
python_version = "3.6"
